body{
    margin: 0;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
    
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

/* end of general settings */

/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}

/* */ 
.header{
    text-align: center;
    color: white;
    background-color: #035f8e;
   
}
.header__inner{
    display: flex;
    justify-content: space-between;
    background-color: #035f8e;
}
.header__text{
    margin-top: 35px;
    margin-right: 200px;
}
.logo__img{
    width: 150px;
    height: 150px;
    
}
.header__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.header__subtitle{
    opacity: .8;
}
.header__subtitle:hover{
    opacity: 1;
}
/* end of header */

/* nav */
.nav{
    text-align: center;
    height: 40px;
    color: #fff;
    background-color: #3399ff;
    
    border-bottom: #035f8e 3px solid;
    /*
    border-top: #035f8e 3px solid;
    */

    /*
    margin-bottom: 10px;
    */
    
}
.nav__inner{
   display: flex;
   justify-content: space-between; 
   text-transform: uppercase;
   align-items: center;
   background-color: #3399ff;  
}
.nav__link{
    padding-top: 10px;
    height: 40px;
    width: 20%;
    font-weight: 700;
    border-left: #035f8e 3px solid;
    border-bottom: #035f8e 3px solid;
}
.current__link{
    background-color:#fff;
    color: #3399ff;
    padding-top: 10px;
    height: 40px;
    width: 20%;
    font-weight: 700;
    border-left: #035f8e 3px solid;
    border-bottom: #035f8e 3px solid;
}
.current__link:hover{
    transition: .2s;
    color:#3399ff;
    background-color: #fff;
}

.nav__link:last-child{
    border-right: #035f8e 3px solid;
}

.nav__link:hover{
    transition: .2s;
    color:#3399ff;
    background-color: #fff;
}
/*  end of nav */

.main__title{
    padding-top: 10px;
    text-align: center;
    color: #035f8e;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 30px;
}
/*  end of navbar*/

/* contacts */
.contacts{
    color: white;
    height: auto;
    text-align: center;
    background:url(../NTUDP/images/galery/intro__background-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15px;
    
}
.contacts__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.contacts__item{
    font-size: 20px;
   
}


.contacts__text:hover{
    background: #3399ff;
    border-radius: 1%;
    transition: .3s;
}
.contacts__text{
    padding: 10px 10px;
    margin: 5px 5px;
}
.contacts__img{
    border-radius: 1%;
    border:#035f8e 5px solid;
    
}
.contacts__img:hover{
    border:#3399ff 5px solid;
    transition: .3s;
}
#map{
    padding: 0;
    margin: 0;
}

/* end of contacts */

/* footer */

.footer{
    font-family: 'Roboto', sans-serif;
    border-top: #3399ff 3px solid;
    background-color: #035f8e;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    height: 110px;
    text-align: center;
}
.footer__item{
    width: 33.33333%;
}
.footer__title{
    font-weight: 700;
    margin-bottom: 5px;
}
.footer__text{

    margin-top: 10px;
}
.footer__social{
    width: 40px;
    height:40px;
    margin: 5px 10px;
    border: 1.5px solid white;
    border-radius: 100px;
    
}
.footer__social:hover{
    border: 3px solid white;
    transition: .2s;
    
}
.dg-attribution__links{
    background: none;
}
.dg-attribution__link-item{
    display: none;
}
