body{
    margin: 0;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-width: 1200px;
    
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
    
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

/* end of general settings */

/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
    
/* end of container */

/* header */
.header{
    text-align: center;
    color: white;
    background-color: #035f8e;
   
}
.header__inner{
    display: flex;
    justify-content: space-between;
    background-color: #035f8e;
}
.header__text{
    margin-top: 35px;
    margin-right: 200px;
}
.logo__img{
    width: 150px;
    height: 150px;
    
}
.header__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.header__subtitle{
    opacity: .8;
}
.header__subtitle:hover{
    opacity: 1;
}
/* end of header */

/* nav */
.nav{
    text-align: center;
    height: 40px;
    color: #fff;
    background-color: #3399ff;
    
    border-bottom: #035f8e 3px solid;
    /*
    border-top: #035f8e 3px solid;
    */

    /*
    margin-bottom: 10px;
    */
    
}
.nav__inner{
   display: flex;
   justify-content: space-between; 
   text-transform: uppercase;
   align-items: center;
   background-color: #3399ff;  
}
.nav__link{
    padding-top: 10px;
    height: 40px;
    width: 20%;
    font-weight: 700;
    border-left: #035f8e 3px solid;
    border-bottom: #035f8e 3px solid;
}
.current__link{
    background-color:#fff;
    color: #3399ff;
    padding-top: 10px;
    height: 40px;
    width: 20%;
    font-weight: 700;
    border-left: #035f8e 3px solid;
    border-bottom: #035f8e 3px solid;
}
.current__link:hover{
    transition: .2s;
    color:#3399ff;
    background-color: #fff;
}

.nav__link:last-child{
    border-right: #035f8e 3px solid;
}

.nav__link:hover{
    transition: .2s;
    color:#3399ff;
    background-color: #fff;
}
/*  end of nav */



/* student */

.student{
    
    width: 100%;
    
    height:auto;
    font-size: 22px;
    font-weight: 700;
    color: #035f8e;
    text-align: center;
    margin-top: 20px;
    
}
.student__inner{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
/* @media screen and (min-width:300px){
    div.student__item{
        width: 90%;
        font-size: 32px;
        margin-left: 5%;
    }
    a.student__link{
        font-size: 24px;
    }
} */

.student__item{
    
    padding: 0 10px;
    border: 3px #3399ff solid;
    border-radius: 20%;
    margin: 10px 0;
    width: 49%;
    display: flex;
    justify-content: space-between;
}
.student__item:hover{
    transition: .2s;
    border: 3px #035f8e solid;
    border-radius: 10%;
    background-color: #e6f2ff;
    
}

.student__img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    
}
.student__title{
    margin-bottom: 5px;
    margin-top: 5px;
    width:100%;
}
.student__text{
    width: 100%;
}
.student__link:hover{
    font-size: 20px;
    transition: .2s;
    
}
.student__link{
   
    color: black;
    font-weight: 400;
    font-size: 18px;
}
/* /student */


/* courses */
.courses{
    height: auto;
}

/* footer */

.footer{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    background-color: #035f8e;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    height: 110px;
    text-align: center;
}
.footer__item{
    width: 33.33333%;
}
.footer__title{
    font-weight: 700;
    margin-bottom: 5px;
}
.footer__text{

    margin-top: 10px;
}
.footer__social{
    width: 40px;
    height:40px;
    margin: 5px 10px;
    border: 1.5px solid white;
    border-radius: 100px;
    
}
.footer__social:hover{
    border: 3px solid white;
    transition: .2s;
    
}

/* erasmus */
.erasmus{
    height: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.erasmus__inner{
    display: flex;
    justify-content: space-between;
}
.erasmus__item{
    width: 33.33333%;
    height: auto;
    margin: 0 10px;
    
    display: flex;
    flex-wrap: wrap;
    border-radius: 1%;
    /* border: #3399ff 3px solid;*/
}
.erasmus__img{
    width: 100%;
    padding-bottom: 10px;
    height: 250px;
}
 /* .erasmus__item:hover .erasmus__link{
    color: #fff;
    transition: .2s;
} */

 
.erasmus__link{
    color: #000;
}

/* slider */
.courses{
    height: auto;
    padding-bottom: 20px;
}

#slider-wrapper {
    width: 940px;
    height: 470px;
    margin: 10px auto;
    position: relative;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  #s1 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s2 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s3 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s4 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s1:hover,
  #s2:hover,
  #s3:hover,
  #s4:hover {
    opacity: .50;
  }
  
  .inner-wrapper {
    width: 940px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .control {
    display: none;
  }
  
  #Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
  }
  
  #Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
  }
  
  #Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
  }
  
  #Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%;
  }
  
  #Slide1:checked + #s1 {
    opacity: 1;
  }
  
  #Slide2:checked + #s2 {
    opacity: 1;
  }
  
  #Slide3:checked + #s3 {
    opacity: 1;
  }
  
  #Slide4:checked + #s4 {
    opacity: 1;
  }
  
  .overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .slide img {
    width: 25%;
    float: left;
  }
/* /slider */

