h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   
}

.header{
    
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
   
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 2px #093864 solid;
   
    
}
.header__logo{
    width: 100px;
    height: 100px;
    
}
.header__nav{
    
    font-size: 26px;
    font-weight: 700;
    
}
.nav__link{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color:#093864;
}
.nav__link:hover{
    transition: .1s linear;
    
    font-size: 28px;
    
}

/* MAP */
.map{
    padding-top: 120px;
    text-align: center;
    
}
/* end of MAP */



/* Footer */
.footer__up{
    background-color: #25aae2;
    height: 10px;
}
.footer__mid{
    height: 10px;
    background-color: #035f8e;
}
.footer__down{
    height: 10px;
    background-color:#093864;
    
}

.footer{
    text-align: center;
    height: 100px;
    color: #093864;
    margin-top: 10px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__part{
    width: 33.33333%;
    max-width: 240px;
    
}
.footer__social{
    display: block;
    align-items: center;
    margin-top: 15px;
}
.social__img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.social__img:hover{
    transition: .2s;
    width: 30px;
    height: 30px;
    
}
.footer__title{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
    
}
.footer__text{
    font-weight: 600;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    
}


.copyright__text{
    font-size: 18px;
    margin-top: 5px;
    color: #093864;
    padding-bottom: 5px;
}
